# =========================
# FRONTEND (ANGULAR / NODE)
# =========================
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# =========================
# BACKEND (.NET CORE / C#)
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.dbmdl

# =========================
# BẢO MẬT & MÔI TRƯỜNG (QUAN TRỌNG)
# =========================
.env
.env.*
*.log


# =========================
# HỆ ĐIỀU HÀNH & CÔNG CỤ
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/