<div class="product-detail-home-link">
  <a routerLink="/"><i class="fa-solid fa-house"></i> Home </a> / {{product.name}}
</div>

<div id="product-detail-container">

  <div *ngIf="product; else loadingTemplate" class="product-detail-item">
    <div>
      <img [src]="getProductImageUrl(product.imageUrl)" alt="{{ product.name }}">
    </div>
    <div class="product-line-between"></div>
    <div class="product-detail-info">

      <div class="product-detail-name-wrapper">
        <p class="product-detail-name">{{ product.name }}</p>
      </div>

      <div class="product-price-box"
           *ngIf="product.isActive && product.categoryIsActive && product.stock > 0">

        <ng-container *ngIf="isSaleActive(product)">
          <span class="sale-price">
            {{ product.price - (product.price * product.discountPercent / 100) | currency:'USD':'symbol':'1.0-2' }}
          </span>
          <span class="original-price">
            {{ product.price | currency:'USD':'symbol':'1.0-2' }}
          </span>
          <span class="sale-badge">
            SALE OFF {{ product.discountPercent }}%
          </span>
        </ng-container>

        <ng-container *ngIf="!isSaleActive(product)">
          <span class="normal-price">
            {{ product.price | currency:'USD':'symbol':'1.0-2' }}
          </span>
        </ng-container>
      </div>

      <p><i class="fa fa-star product-feature-icon"></i>100% Genuine Products</p>
      <p><i class="fa fa-star product-feature-icon"></i>Delivery within 24H: Free shipping for orders from $5</p>
      <p><i class="fa fa-star product-feature-icon"></i>Fast 2H Delivery: Free shipping for orders from $5</p>

      <div *ngIf="product.isActive && product.categoryIsActive && product.stock > 0"
           class="product-quantity-section">
        <div class="quantity-control">
          <button (click)="decrease()">-</button>
          <input type="number" [(ngModel)]="quantity" (ngModelChange)="onInputChange()" [min]="min" [max]="max">
          <button (click)="increase()">+</button>
        </div>
        <p class="product-quantity-text">Quantity: {{quantity}}</p>
      </div>

      <div *ngIf="product.isActive && product.categoryIsActive && product.stock > 0; else productUnavailable" class="card-footer">
        <button type="button" class="product-detail-btn-buy" (click)="inputShippingDetails()">
          Buy now
        </button>

        <button type="button" class="product-detail-btn-add" (click)="addCart()">
          Add to cart
        </button>
      </div>
    </div>

  </div>

  <div class="product-description">
    <h3>Description</h3>
    <p>{{ product.description}}</p>
  </div>
</div>

<ng-template #loadingTemplate>
  <mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>
</ng-template>

<ng-template #productUnavailable>
  <div class="product-unavailable-box">
    <p class="product-detail-unavailable">
      <i class="fa-solid fa-circle-exclamation"></i>
      {{ product.stock <= 0 && product.isActive && product.categoryIsActive ? 'OUT OF STOCK' : 'SUSPEND BUSINESS' }}
    </p>
  </div>
</ng-template>

<div *ngIf="hasInput" class="popup-overlay">
  <div class="popup-content">

    <button class="popup-close" (click)="closePopup()">✖</button>

    <div class="buy-right">
      <div class="summary-box price-summary">

        <h3>Shipping Details</h3>
        <form #shippingDetailsForm="ngForm">
          <div class="row">

            <div class="shipping-phone-container">
              <label class="input-title" for="phone-input">
                Phone Number <span class="required-star">*</span>
              </label>

              <input id="phone-input" class="placeholder-input" placeholder="+61 0132345678" [(ngModel)]="phone"
                     name="phone" required minlength="10" maxlength="15" pattern="^[0-9]+$" #phoneCtrl="ngModel" />

              <div class="error" *ngIf="phoneCtrl.invalid && phoneCtrl.touched">
                <p *ngIf="phoneCtrl.errors?.['required']">Phone number is required.</p>
                <p *ngIf="phoneCtrl.errors?.['pattern']">Phone number must contain numbers only.</p>
                <p *ngIf="phoneCtrl.errors?.['minlength']">Minimum 10 digits required.</p>
              </div>
            </div>
          </div>

          <div>
            <div class="shipping-address-container">
              <label class="input-title" for="address-input">
                Full Address <span class="required-star">*</span>
              </label>

              <textarea id="address-input" class="placeholder-input"
                        placeholder="Street, City, State/Province, Zip Code" rows="3" [(ngModel)]="address" name="address"
                        required minlength="5" #addressCtrl="ngModel"></textarea>

              <div class="error" *ngIf="addressCtrl.invalid && addressCtrl.touched">
                <p *ngIf="addressCtrl.errors?.['required']">Address is required.</p>
                <p *ngIf="addressCtrl.errors?.['minlength']">Address must be at least 5 characters.</p>
              </div>
            </div>
          </div>
        </form>

        <div class="summary-divider"></div>

        <span>Order Summary</span>
        <div class="summary-row">
          <span>Item Total</span>
          <span>{{ originalTotal | currency:'USD':'symbol':'1.0-2' }}</span>
        </div>
        <div class="summary-row">
          <span>Discount</span>
          <span>- {{ saleDiscountTotal | currency:'USD':'symbol':'1.0-2' }}</span>
        </div>
        <div class="summary-divider"></div>

        <div>
          <span>Payment Type</span>
          <br>
          <mat-radio-group aria-label="Select payment method" class="buy-payment-container" [(ngModel)]="paymentMethod"
                           (ngModelChange)="onPaymentChange($event)">
            <div class="payment-option">
              <span><i class="fa-solid fa-money-bill-1-wave cash-icon"></i> Cash</span>
              <mat-radio-button value="Cash"></mat-radio-button>
            </div>

            <div class="payment-option">
              <span><i class="fa-solid fa-credit-card atm-icon"></i> ATM</span>
              <mat-radio-button value="ATM"></mat-radio-button>
            </div>
          </mat-radio-group>
        </div>

        <div>
          <div class="summary-row">
            <span>Discount</span>
            <span>- {{ discountAmount | currency:'USD':'symbol':'1.0-2' }}</span>
          </div>
        </div>

        <div class="summary-divider"></div>

        <div class="summary-row" *ngIf="grandTotal !== 0">
          <span>Shipping fee</span>
          <span>${{fee}}</span>
        </div>

        <div class="summary-row total-row" *ngIf="grandTotal!==0">
          <span>To Pay</span>
          <span class="final-price">{{ totalToPay | currency:'USD':'symbol':'1.0-2' }}</span>
        </div>

        <p class="vat-note">(VAT included where applicable)</p>
      </div>

      <button type="submit" class="checkout-btn" [disabled]="grandTotal === 0 || !shippingDetailsForm.valid "
              [class.disabled]="grandTotal === 0 || !shippingDetailsForm.valid" (click)="createInstantOrder()">
        Proceed
      </button>
    </div>

  </div>
</div>
