# Environment variables
.env

# Python
__pycache__/
*.pyc
venv/

# Node / Angular
node_modules/
dist/

# .NET
bin/
obj/

# Visual Studio
.vs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.json
.wsuo
.sqlite