#changepassword-background-container {
    width: 100%;
    height: 100%;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#changepassword-background-container .changepassword-box {
  width: 400px;
  padding: 25px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

#changepassword-background-container .changepassword-input {
  width: 380px;
  padding: 8px;
  margin-top: 5px;
}

#changepassword-background-container .changepassword-label-group {
  margin-bottom: 15px;
  text-align: left;
}

#changepassword-background-container .changepassword-button-primary {
  width: 400px;
  padding: 10px;
  background-color: #3792b3;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s ease; 
}

#changepassword-background-container .changepassword-button-primary:hover {
  background-color: #2a7d9e; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#changepassword-background-container .changepassword-button-secondary {
  width: 400px;
  padding: 10px;
  background-color: #a6cedd;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s ease;
}

#changepassword-background-container .changepassword-button-secondary:hover {
  background-color: #8ac4da;
  box-shadow: 0 4px 10px rgba(93, 135, 168, 0.2); 
}

#changepassword-background-container .changepassword-button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
}

#changepassword-background-container button[type="submit"]:hover:not(:disabled) {
    background-color: #0056b3;
    transform: scale(0.98);
}

#changepassword-background-container button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}